@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Romie";
  src: local("Romie-Light"), local("Romie-Light"),
    url("../public/fonts/Romie-Light.woff2") format("woff2"),
    url("../public/fonts/Romie-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Romie";
  src: local("Romie-Medium"), local("Romie-Medium"),
    url("../public/fonts/Romie-Medium.woff2") format("woff2"),
    url("../public/fonts/Romie-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TWKEverett-Medium";
  src: local("TWKEverett-Medium"), local("TWKEverett-Medium"),
    url("../public/fonts/TWKEverett-Medium.woff2") format("woff2"),
    url("../public/fonts/TWKEverett-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
html {
  font-size: 62.5%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #474747;
}
strong,
.everest,
h2 {
  font-family: "TWKEverett-Medium";
}

.romie,
h4 {
  font-family: "Romie";
}

.padding-top-screen {
  top: 100vh;
  top: 100svh;
}
.portable-h1 {
  max-width: 13ch;
}
.portable-h3 {
  max-width: 28ch;
}

.credits-serif {
  color: var(--text-grey, #474747);
  font-family: "Romie";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}

.credits-sans {
  color: var(--text-grey, #474747);
  text-align: center;
  /* M/Credits/Sans */
  font-family: "TWKEverett-Medium";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 107%; /* 23.54px */
  text-transform: uppercase;
}

.projectTitle {
  font-size: 3.9rem;
  line-height: 89%; /* 34.71px */
}
.projectTag {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 86%; /* 14.938px */
  letter-spacing: 0.347px;
}
header a {
  font-size: 1.6rem;
  color: #8f8f8f;
}

header a.active {
  color: var(--text-grey, #474747);
}

.sticky-middle {
  position: sticky;
  top: 50%; /* Position it at the middle of the viewport */
  transform: translateY(-50%); /* Center the element vertically */
}

/* FOOTER */
.menuFooter {
  font-family: "Romie";
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  color: black;
  line-height: 86%; /* 14.938px */
  letter-spacing: 0.347px;
  text-transform: uppercase;
}
.itemFooter {
  color: var(--black, #000);

  /* D/Menu/Sans */

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.56px */
  text-transform: uppercase;
}
.itemFooter.grey,
.menuFooter.grey {
  color: #474747;
}

/* Client List */
.selected {
  color: var(--text-grey, #474747);
  font-family: "TWKEverett-Medium";
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 87%; /* 43.5px */
}
.notselected {
  color: #b9b9b9;
  font-family: "Romie";
  font-size: 5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 84%; /* 42px */
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

/* Credit */
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Apply the animation to the element you want to fade out */
.animation-fadeout {
  animation: fadeOut 0.6s forwards 1s ease-out;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media (min-width: 769px) {
  /* Your styles for screens bigger than 768px go here */
  /* For example: */
  .text-h1-mobile {
    font-family: Romie;
    font-size: 11.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 86%; /* 97.094px */
    text-transform: uppercase;
  }
  .text-h1-mobile strong {
    font-size: 104px;
    font-style: normal;
    font-weight: 500;
    line-height: 93%;
  }
  .portable-h1 {
    max-width: 21ch;
  }
  .credits-serif {
    font-size: 4.9rem;
  }

  .credits-sans {
    font-size: 4.5rem;
  }
  .portable-h3{
    max-width: 34ch;
  }
  .gridClient{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 2rem;
    height: 100vh;
    width: 100vw;
  padding: 0 2rem;
  top: 0;
  left: 0;
  transition: 0.6s ease all;

  }
  .hover:hover + .gridClient{
    opacity: 1;
    transition: 0.6s ease all;
  }
}
